/* Fonts

font-family: 'Montserrat', sans-serif; - Headings
font-family: 'Open Sans', sans-serif; - Text
font-family: 'Open Sans', sans-serif; italics - subtext

*/

@media only screen and (max-width: 40em) { 
body{
    background: #2C2924;
    font-family: 'Open Sans', sans-serif;
}

#mobile-nav{
    position: fixed;
    padding:25px 20px 8px 20px;

    background: #2C2924;
    border-bottom: 10px #F9B042 solid;
    /*
    
    Currently the box-shadow doesn't display properly. Disabled until fixed.

    z-index: 1;
    box-shadow: 0px -8px 50px 10px #000000;

    */
}

.menu-icon:hover::after {
    background: #F9B042;

    /*
    
    Currently the box-shadow doesn't display properly. Disabled until fixed.

    box-shadow: 0 7px 0 #F9B042, 0 14px 0 #F9B042;

    */
}

.grid-container{
    padding:0;
}
#map{
    width:100%;
    height:400px;
    padding-top:8%;
}
.tabes{
    max-width:100%;
}
#first-box{
    padding-top:70px;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
}

.nav-box-odd{
    padding:0;
    background: #8CC63E;
    overflow: hidden;
}

.nav-box-even{
    padding:0;
    background: #F9B042;
    overflow: hidden;
}

.nav-box-odd a {
    width:100%;
    height:100%;
    display:block;
    overflow:auto;
    text-decoration: unset;
    text-shadow: 0 0 0 #2c2924;
    color: #2c2924;
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
}

.nav-box-odd a:hover,
.nav-box-even a:hover,
.nav-box-odd a:active,
.nav-box-even a:active {
    text-shadow: 0 0 0 #2c2924;
    transition: 1s;
}

.nav-box-even a{
    width:100%;
    height:100%;
    width:100%;
    height:100%;
    display:block;
    overflow:auto;
    text-shadow: 0 0 0 #2c2924;
    text-decoration: unset;
    color: #2c2924;
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
}

footer{
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    background: #2c2924;
    color: #ffffff;
    border-top:10px #F9B042 solid;
    /*

    Currently the box-shadow doesn't display properly. Disabled until fixed.

    box-shadow:0px 8px 50px 10px #000000;

    */
}

#footer-social-list{
    margin:0;
    padding: 0 0 15px 0;
    align-content: center;
}
#footer-social-list li{
    padding:10px;
    display:inline;
}

#topbar-center-logo{
    background: #4a7900;
    position:fixed;
    display:flex;
    top:10%;
    height:80%;
    width:100%;
    transition: display 2s linear 1s;

}

.top-bar, .top-bar ul{
    background:transparent;
}

.top-bar ul a:hover,
.top-bar ul a:active {
    text-shadow: 0 0 0 #2c2924;
    font-size:3.5em;
    transition: 1s;
}

.top-bar ul a {
    width:100%;
    height:100%;
    display:block;
    overflow:auto;
    text-decoration: unset;
    text-shadow: 0 0 0 #2c2924;
    color: #ffffff;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
}

.top-bar-center{
    visibility:hidden;
    height:0;
    width:0;
}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */
