/* Fonts

font-family: 'Montserrat', sans-serif; - Headings
font-family: 'Open Sans', sans-serif; - Text
font-family: 'Open Sans', sans-serif; italics - subtext

*/


body{
    background: #2C2924;
    font-family: 'Open Sans', sans-serif;
}

a{
    font-family: 'Montserrat', sans-serif;
}

.cell{
    padding:0;
}

#mobile-nav{
    position: fixed;
    padding:25px 20px 8px 20px;
    z-index:1;
    background: #2C2924;
    border-bottom: 10px #F9B042 solid;

}

.foodmenu{
    margin-bottom:0;
}

.grid-container{
    padding:0;
}

#map-wrapper{
    height:410px;
}

#map{
    width:100%;
    height:410px;
}

.tabes{
    max-width:100%;
}

#first-box{
    padding-top:70px;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
}

.nav-box-odd{
    padding:0;
    background: #8CC63E;
    overflow: hidden;
}

.nav-box-even{
    padding:0;
    background: #F9B042;
    overflow: hidden;
}

.nav-box-even-sub{
    padding:0;
    background: #F9B042;
    overflow: hidden;
}

.day{
    font-size: 2em;
}

.nav-box-sub{
    padding:0;
    font-size: 1.5em;
    background: #4A7900;
    overflow: hidden;
    color: #FFFFFF;
}

.food-item{
    padding:5px 0 5px 5px;
    font-size: 1em;
    background: #4A7900;
    overflow: hidden;
    color: #FFFFFF;
}

.food-item p{
    margin:0;
    text-align: left;
}

.nav-box-odd a {
    width:100%;
    height:100%;
    display:block;
    overflow:auto;
    text-decoration: unset;
    text-shadow: 0 0 0 #2c2924;
    color: #2c2924;
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
    line-height:2;
}

.nav-box-odd a:hover,
.nav-box-even a:hover,
.nav-box-even-sub a:hover,
.nav-box-odd a:active,
.nav-box-even a:active,
.nav-box-even-sub a:active {
    text-shadow: 0 0 0 #2c2924;
    transition: 1s;
}

.nav-box-even a{
    width:100%;
    height:100%;
    width:100%;
    height:100%;
    display:block;
    line-height:2;
    overflow:auto;
    text-shadow: 0 0 0 #2c2924;
    text-decoration: unset;
    color: #2c2924;
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
}

.nav-box-even-sub a{
    width:100%;
    height:100%;
    width:100%;
    height:100%;
    display:block;
    line-height:2;
    overflow:auto;
    text-shadow: 0 0 0 #2c2924;
    text-decoration: unset;
    color: #2c2924;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
}

footer{
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    background: #2c2924;
    color: #ffffff;
    border-top:10px #F9B042 solid;
    /*

    Currently the box-shadow doesn't display properly. Disabled until fixed.

    box-shadow:0px 8px 50px 10px #000000;

    */
}

#footer-social-list{
    margin:0;
    padding: 0 0 15px 0;
    align-content: center;
}
#footer-social-list li{
    padding:10px;
    display:inline;
}

.dropdown-pane ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.dropdown-pane li a:link, .dropdown-pane li a:visited {
    color: #FFFFFF;
    font-size: 2em;
  }
  
.dropdown-pane li a:hover {
    color: #F9B042;
    font-size: 2em;
  }
  
.dropdown-pane li a:active {
    color: #F9B042;
    font-size: 2em;
  }

#address{
    font-size:unset;
}

.subhead{
    font-size:0.5em;
}

.submenu{
    margin-left:0;
}

#nav-button{
    border-radius:100%;
}

.dropdown-pane{
    background:#4A7900;
    border: 3px solid #F9B042;
    border-radius:5px;
    text-align:center;
    box-shadow: 0px 0px 11px 0px #000000;
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
    #nav-button{
        border-radius:100%;
        font-size:2.25em;
    }


}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #F9B042;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
